[submodule "zcjs"]
	path = zcjs
	url = git@github.com:BioAcoustica/zcjs.git
[submodule "tabulator"]
	path = tabulator
	url = https://github.com/olifolkerd/tabulator.git
[submodule "autoComplete.js"]
	path = autoComplete.js
	url = git@github.com:TarekRaafat/autoComplete.js.git
